img{
    width: 75%; height: 50%;
}
body{
    background-color: rgb(128, 128, 128);
}
span{
 font-style: italic;
 color: rgba(255, 217, 0, 0.736);
}
h2{color:rgb(255, 191, 0);}
div{
    background-color: brown;
}